PRUEBAS_PHP_SQL_n8n.json
{
  "name": "n8n_chatbot_php",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "f26f7d98-2f46-4909-b159-848fb442a8f4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        0
      ],
      "webhookId": "4dab6d41-f258-45cf-bf8a-a9421abcea79"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Validaciones y Reglas Importantes\n1. Verificación de datos\nAsegúrate de que los datos ingresados para cada usuario contengan:\nNombre completo (nombre y apellido).\nCorreo electrónico (mail).\nSi falta algún dato o está mal escrito (errores ortográficos, formato de correo no válido, etc.), solicita al usuario que lo corrija.\n2. Detección de datos duplicados o similares\nAl crear o actualizar un usuario:\n\nConsulta la base de datos para verificar si el nombre o el correo coinciden exacta o parcialmente con un usuario ya existente.\nSi detectas uno o más registros con nombre o correo muy parecido/similar (posibles duplicados), notifica al usuario y pregunta si desea:\nReemplazar/actualizar el usuario existente.\nCrear el nuevo usuario de todas formas (aun existiendo coincidencia).\nCancelar la operación.\nSolicita confirmación antes de proceder en caso de detectar coincidencias.\n3. Confirmación de acciones críticas\nAl crear un nuevo usuario, confirma siempre que la información sea correcta antes de la inserción.\nAl eliminar un usuario, solicita siempre confirmación final antes de proceder con el borrado definitivo.\nAntes de ejecutar cualquier acción (crear, actualizar, eliminar), pide confirmación al usuario con un estilo como:\n“¿Confirma el borrado del ID 45, nombre Juan Pablo, mail f@t.com?”\n4. Manejo de errores\nSi algún campo está vacío, contiene errores o formato incorrecto, solicita los datos correctos antes de continuar.\nEn caso de que el usuario necesite ayuda adicional o haya confusión con las instrucciones, ofrécele orientación.\nSi el usuario que se quiere borrar no coincide exactamente, preguntar primero o mostrar parecidos.\n5. Respuestas y retroalimentación\nAl finalizar una acción (crear, actualizar o eliminar), confirma el resultado y muestra al usuario la información del registro afectado.\nEjemplo:\n“El usuario Juan Pérez con correo juan@example.com ha sido creado/actualizado/eliminado correctamente con el ID #XX”.\n6. Actualizar usuarios existentes\nSi el usuario quiere actualizar un usuario existente, pídele siempre el ID.\nSi el usuario proporciona solo un dato como el nombre o el mail, muéstrale los usuarios coincidentes para que elija cuál desea modificar exactamente.\nEstructura de la tabla de usuarios\nid (entero, único, autoincremental)\nnombre (cadena: nombre y apellido)\nmail (cadena: correo electrónico)\nInstrucción clave para la inserción en SQL\nCuando el usuario confirme que quiere crear un nuevo usuario y ya tengas su nombre completo y correo electrónico validados, devuelve siempre un JSON sin texto adicional, usando comillas dobles, con esta estructura:\njson\nCopiar\nEditar\n{\n  \"id\": 5,\n  \"nombre\": \"Ejemplo Nombre\",\n  \"mail\": \"ejemplo@correo.com\"\n}\nPara actualizar o cambiar datos de usuarios existentes, usa siempre UPDATE.\nPara crear usuarios nuevos, usa siempre INSERT.\nPara borrar un usuario existente, usa siempre DELETE.\n¿En qué puedo ayudarte hoy con la gestión de usuarios?"
        }
      },
      "id": "2e101920-9105-44e7-a9cd-3c0137282444",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        0
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "cb4d6b50-c688-4b0e-927a-9f516f5a3c03",
      "name": "OpenAI Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        520,
        180
      ],
      "credentials": {
        "openAiApi": {
          "id": "9dgG7CDiRLiCzWMe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## IMPORTANTE\n\n- Ir a Admin Panel, ruedita de Ajustes y configurar **Time Zone**\n\n- Ir al menú de tres puntitos del workflow, Settings y configurar **TimeZone**\n\n- Verificar que las citas se agenden en la fecha y hora correctas",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "id": "14e73afb-c2cf-487e-af04-fdaf776de4f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        920,
        240
      ],
      "id": "bef614a4-58cd-407d-a9c6-28101efa5b60",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "OTFi6DFPZszL8E9O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        240
      ],
      "id": "8cdad246-958c-4788-8801-51adc0247f53",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "=usuarios",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $fromAI('nombre') }}"
            },
            {
              "column": "email",
              "value": "={{ $fromAI('mail') }}"
            },
            {
              "column": "id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `detecta el id`, 'string') }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        1220,
        240
      ],
      "id": "f8b3c9da-f16a-49c3-b324-b48292bd8a06",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "OTFi6DFPZszL8E9O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "=usuarios",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $fromAI('name') }}"
            },
            {
              "column": "email",
              "value": "={{ $fromAI('mail') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        1020,
        240
      ],
      "id": "bee39d66-a286-4f41-b938-5ede7959a12f",
      "name": "MySQL2",
      "credentials": {
        "mySql": {
          "id": "OTFi6DFPZszL8E9O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "=usuarios",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $fromAI('id') }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $fromAI('nombre') }}"
            },
            {
              "column": "email",
              "value": "={{ $fromAI('mail') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        1120,
        240
      ],
      "id": "6dc42655-0ede-4606-bb6d-bdea1f3231bd",
      "name": "MySQL3",
      "credentials": {
        "mySql": {
          "id": "OTFi6DFPZszL8E9O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## api\n\n\n\ncrear clave api en openai \ny ponerla aca\n\n(platform.openai.com/account/api-keys)",
        "height": 180,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        160
      ],
      "typeVersion": 1,
      "id": "fd811868-9b34-4324-976f-226c6baf60c1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## configurar acceso remoto mysql y completar\n(https://www.hostinger.com/ar/tutoriales/como-conceder-conexion-remota-a-mysql)\n\nen el host no poner el dominio de la wewb. fijarse bien que web dice que hay que usar en \"MySQL Acceso Remoto\" ",
        "height": 380,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        220
      ],
      "typeVersion": 1,
      "id": "20466c4b-32a8-4c14-9c34-0d0e6e9f5261",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## chaturl\ncopiar el url del chat que aparece aca adentor y modificarlo en el codigo php, en el archivo index.html en el div que contiene el chatbot de n8n\n\n",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -120
      ],
      "id": "debbcc81-93e5-4daf-9f3d-8fa707029e45",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySQL3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a45fd045-717a-41dd-b006-cedb5d477348",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f700e0a41dcc0046da46e2275d604fc8796edebc971ecd578cb58a51837f754e"
  },
  "id": "11iYo32xusPFWpoM",
  "tags": []
}
